body{
    background-color: rgb(152, 152, 253);
    max-width: max-content;
    margin: auto;
}
.container{
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    width: 800px;
    height: 900px;
    background-color: antiquewhite;
}
.title{
    position: absolute;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blue;
    border-radius: 20px;
    width: 800px;
    height: 75px;
    background-color:aquamarine;
}
.themetoggle{
    position: absolute;
    border-radius: 20px;
    width: 5%;
    height: 25%;
    margin-left: 90%;
    background-color: blue;
}
.sidebar{
    background-color: rgb(26, 219, 155);
    border-radius: 0px 20px 0px 20px;
    margin-top: 700px;
    height: 200px;
    width: 50px;
}
.tabone{
    background-color: rgb(9, 170, 116);
    border-radius: 0px 20px 0px 20px;
    margin-top: 100px;
    margin-left: -50px;
    height: 100px;
    width: 100px;
    z-index: 2;
}
.tabtwo{
    background-color: rgb(9, 170, 116);
    border-radius: 0px 20px 0px 20px;
    margin-top: 100px;
    height: 50px;
    width: 50px;
    z-index: 1;
}